$color__main-dark: #8e1254;
$color__main-lite: #db0577;
$color__main-lite-05: rgba($color__main-lite, 0.65);
$color__main-secondary: #bca713; // Okeryellow
$color__text-secondary: #666;
$color__white: #fff;
$color__black: rgba(0, 0, 0, 0.85);
$color__black-mid: rgba(0, 0, 0, 0.75);
$color__black-weak: rgba(0, 0, 0, 0.6);
$color__green: #1b646c;

$background__blue-lite: #e8f5f6;
$background__header-search: #f7f7f7;
$background__blog-post-hover: rgba(240, 104, 74, 0.9);
$background__warning: #ff3838;
$background__button: #e52b8a;
$background__button-hover: $color__main-dark;

$border__color-main: #8e1254;
$border__color-secondary: $color__main-secondary;
