$color__main-dark: #0068a0;
$color__main-lite: #1fa2dc;
$color__white: #fff;
$color__text-secondary: #666;

$background__header-search: #f7f7f7;
$background__blog-post-hover: rgba(240, 104, 74, 0.9);

$box-shadow__main: #ccc;
