$color__main-dark: #c5056b;
$color__main-lite: #db0577;
$color__text-secondary: #666;
$color__white: #fff;

$background__header-search: #f7f7f7;
$background__blog-post-hover: rgba(240, 104, 74, 0.9);

$box-shadow__main: #ccc;
