#wpcot {
	position: relative;
	overflow: hidden;

	.wpcot__description {
		font-size: 0.8rem;
		line-height: 1.1;
	}

	form {
		position: relative;
		width: $form-section__width;
		overflow: hidden;
		border: 1px solid $border__color-main;
		font-size: 16px;
		border-radius: 0.1875rem;

		/* Button */

		button {
			padding: 8px 36px;
			line-height: 1;
			background-color: $background__button;
			color: $color__white;

			&:hover {
				background-color: $background__button-hover;
			}
		}

		/* Checkbox */

		[type="checkbox"] {
			position: absolute;
			left: -9999px;

			& + label {
				position: relative;
				padding-left: 1.95em;
				cursor: pointer;

				/* checkbox aspect */

				&::before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					width: 1.25em;
					height: 1.25em;
					border: 1px solid $color__green;
					background-color: $color__white;
					border-radius: 0.1875rem;
					box-shadow: inset 0 1px 1px $color__green;
				}

				/* checked mark aspect */

				&::after {
					content: '\2713\0020';
					position: absolute;
					top: 0.03em;
					left: 0.04em;
					font-size: 1.7em;
					line-height: 0.8;
					border-radius: 0.1875rem;
					background-color: $color__green;
					color: $color__white;
					transition: all 0.2s linear;
				}
			}

			/* checked mark aspect changes */

			&:not(:checked) + label::after {
				opacity: 0;
				transform: scale(0);
			}

			&:checked + label::after {
				opacity: 1;
				transform: scale(1);
			}

			/* accessibility */

			&:checked:focus + label::before,
			&:not(:checked):focus + label::before {
				border: 2px dotted blue;
			}
		}

		.wpcot__steps {
			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;
				display: flex;
				justify-content: flex-start;
				align-items: stretch;
				border-bottom: 1px solid $border__color-main;
				overflow: hidden;
			}

			li {
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: left;
				width: calc((100% / 4) - 5px); /* Leave some space for last section to be equal as it doesn't have ::after */
				font-size: 1em;
				line-height: 1.1;
				font-weight: 700;
				text-transform: uppercase;
				padding: 0 10px;
				margin: 0;
				position: relative;
				height: 46px;
				background-color: $color__white;
				color: $color__black-weak;

				span {
					z-index: 3;
					position: relative;
				}

				.wpcot__steps-responsive {
					display: none;
				}

				.wpcot__steps-text {
					margin-right: 5%;

					span {
						display: block;
						font-size: 0.9em;
						text-transform: none;
						font-weight: 400;
					}
				}

				@media (max-width: $brakepoint__sm-max) {
					text-align: center;

					.wpcot__steps-text {
						display: none;
					}

					.wpcot__steps-responsive {
						display: block;
						margin-left: 5px;
					}
				}

				&:last-child {
					flex: 1;
				}

				&:not(:last-child)::after {
					content: '';
					position: absolute;
					top: 0;
					right: -13px;
					height: 46px;
					width: 46px;
					border-width: 1px 1px 0 0;
					border-color: $border__color-main;
					border-style: solid;
					transform: rotate(45deg);
					background-color: inherit;
					z-index: 2;
				}

				&.wpcot__steps--active,
				&.wpcot__steps--active::after {
					background-color: $color__main-dark;
					color: $color__white;
				}
			}
		}

		.wpcot__questions {
			display: flex;
			justify-content: flex-start;
			align-items: stretch;
			width: calc(#{$form-section__width} * 4);
			transition: transform 0.25s ease-in-out 0.05s;
			min-height: $form-section__min-height;
			height: auto;
		}

		.wpcot__no-teams-selected {
			padding: 15px;
			margin: 0;
		}

		section {
			padding: 1.5rem 1.5rem 2.5rem 1.5rem;
			width: $form-section__width;
			height: inherit;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0s ease-in-out, visibility 0s ease-in-out;

			> h3 {
				margin-bottom: 30px;
				font-size: 1.95312em;
				margin-top: 1.5em;
				font-weight: 600;

				@media (min-width: $brakepoint__md-min) {
					padding-right: 3em;
				}

				@media (max-width: $brakepoint__ipad-max) and (min-width: $brakepoint__sm-min) {
					font-size: 1.6em;
				}

				@media (max-width: $brakepoint__sm-max) {
					font-size: 1.4em;
				}
			}

			.wpcot__choices {
				width: 100%;
				position: relative;

				> div {
					margin-bottom: 10px;

					label {
						font-size: 1.125em;
						line-height: 1.1;
						font-weight: 500;
						padding-top: 3px;
						margin-left: 5px;
						cursor: pointer;
						display: block;

						@media (max-width: $brakepoint__sm-max) {
							font-size: 1em;
						}
					}
				}
			}

			.wpcot__section-error.wpcot__section-error--active {
				color: $color__white;
				background-color: $background__warning;
				padding: 15px;
				margin-bottom: 1em;
				line-height: 1;
			}

			.wpcot__notice {
				background-color: $background__blue-lite;
				padding: 15px;
				margin-top: 3em;
				margin-bottom: 3em;
				font-size: 0.9em;

				p {
					margin: 0;
					font-size: inherit;
				}
			}

			.wpcot__buttons {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				margin-top: auto;
				width: 100%;

				.wpcot__button-next {
					border-radius: 0.1875rem;
					color: $color__white !important;
					font-weight: 400;

					&:hover {
						background-color: $background__button-hover !important;
					}
				}

				.wpcot__button-prev {
					background-color: transparent !important;
					color: $color__black !important;
					font-weight: 400;
					text-decoration: underline;
					border-right: 1px solid $color__black;
					height: auto;
					padding: 0 15px 0 0;
					margin-right: 15px;
					transition: border 0.25s ease-in-out, color 0.25s ease-in-out;
					border-radius: 0;

					&:hover {
						color: $color__main-lite !important;
						border-right: 1px solid $color__main-lite;
						background-color: transparent;
					}
				}
			}

			/* Hide all inputs that we won't need so we can have height auto, or it will be very huge with all inputs displayed */

			&:not(:first-of-type) {
				.wpcot__choices {
					> .wpcot__input-group:not(.wpcot__input-group--visible) {
						display: none;
					}
				}
			}

			&:first-of-type {
				.wpcot__button-prev {
					display: none;
				}
			}

			&:last-of-type {
				/* Hide fake checboxes in last section */

				.wpcot__choices {
					label {
						padding-left: 0;

						&::before,
						&::after {
							display: none;
						}
					}
				}

				.wpcot__button-prev {
					margin-right: 0;
					padding-right: 0;
					border: none;
				}

				.wpcot__button-next {
					display: none;
				}
			}

			&#wpcot-section-teams {
				.wpcot__choices {
					> div {
						margin-bottom: 15px;

						input[type="checkbox"] {
							display: none;
						}

						a {
							display: flex;
							justify-content: flex-start;
							align-items: center;
							text-decoration: none;
							box-shadow: none;
							font-weight: 500;
							color: $color__main-lite-05;
						}

						label {
							font-size: 1.2em;
							margin-bottom: 10px;

							svg {
								width: auto;
								height: 35px;
								fill: $color__main-lite;
								margin-right: 5px;
							}
						}

						> p {
							margin: 0;
							padding: 0;
							font-size: 0.9em;
						}

						> a:last-of-type {
							font-size: 0.9em;
						}
					}
				}
			}

			/* Set opacity for non active section */

			&.wpcot__section--active {
				opacity: 1;
				visibility: visible;
				transition-duration: 0.25s;
			}
		}

		button[type="submit"] {
			flex: none;
			display: none;
		}
	}
}
